<!DOCTYPE html>
<html>

   

    <header>
        <a href="/"><img src="/assets/images/logo.png" id="logo" alt="utriviaimage"></a>
   
    <!--<h1> uTrivia </h1> -->
        
    </header>
    
   

</html>