<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>About</title>
    <link href="/assets/index.css" rel="stylesheet" type="text/css" />
</head>

<body>
    
    <%- include('partials/header'); -%>
    <%- include('partials/navigation'); -%>


<div id="content">
    <main>
        <style>
            h1 {font-size:50px;text-align:center}
            p {font-size:25px;text-align:center}
        </style>
        <h1>About uTrivia</h1>
        <p>uTrivia is a platform intended to bring together individuals with an 
            interest in expanding their trivia knowledge through specialized quizzes 
            that encourage friendly competition</p>

        
       
    </main>
</div>   

<%- include('partials/footer'); -%>	

</body>
</html>
