<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Contact</title>
    <link href="/assets/index.css" rel="stylesheet" type="text/css" />
</head>

<body>
    
    <%- include('partials/header'); -%>
    <%- include('partials/navigation'); -%>


<div id="content">
    <main>
        <br>
        <center style = "font:30px arial, serif">Contact Us!</center>
        <br>
        <br>
        <br>
        <br>
        <p>Thank you for visiting our website!</p>
        <p>Send all inquiries and questions to our official support email:  uTrivia@mail.net</p>
       
    </main>
</div>   

<%- include('partials/footer'); -%>	

</body>
</html>
